<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle class="tree-node tree-node-content">
        <div class="pull-left" data-nodrag ng-click="toggle(this)">
      <i class="fa"
            ng-class="{'fa-chevron-right': collapsed, 'fa-chevron-down': !collapsed}">
      </i>
        </div>
        <span class="margin-left-5">{{node.title}}</span>
        <div class="pull-right" data-nodrag ng-click="remove(this)"><i
                class="fa fa-remove"></i></div>
        <div class="pull-right" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span
                class="fa fa-plus"></span></div>
    </div>
    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'" ng-show="visible(node)">
        </li>
    </ol>
</script>

<div class="row" style="margin-top: 15px;">



    <div class="col-md-2 col-padding-8">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:transparent;">
                <input class="form-control" placeholder="Enter object name"
                       ng-model="query">
            </div>
            <div class="panel-body padding-none tree-body">
                <div ui-tree id="tree-root" data-drag-enabled="false">
                    <ol ui-tree-nodes="" ng-model="treeData">
                        <li ng-repeat="node in treeData" ui-tree-node ng-include="'nodes_renderer.html'"
                            ng-show="visible(node)"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-7 col-padding-8">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:transparent;">
                <button type="button" class="btn btn-primary btn-sm" ng-click="loadModel()">Model</button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="editMode()">Edit Mode</button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="addRuler()">Ruler</button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="showVProtractor()">Protractor V</button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="showHProtractor()">Protractor H</button>
            </div>
            <div class="panel-body padding-none">
                <div viewer model="model" class="viewer-section" id="{{id}}" on-change="dateUpdated(branch)"
                     on-start-render="startRender()"
                     on-end-render="endRender()">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-padding-8">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:transparent">Console</div>
            <div class="panel-body console-body">
                <div console id="console" class="console"></div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:transparent"><input class="form-control"
                                                                                   placeholder="Enter cmd name"
                                                                                   ng-model="searchText"></div>
            <div class="panel-body command-body">

                <div class="list-group command-group">
                    <a ng-repeat="cmd in commands | querySearch:searchText"
                       class="list-group-item" ng-click="runCmd(cmd)" ng-class="{'active':selCmdId===cmd.id}">
                        <div class="pull-left">
                            <span>
                             <i class="fa fa-lg {{cmd.iconClazz}}"></i>
                            </span>
                        </div>
                        <div class="cmd-name">{{cmd.name}} <i class="fa fa-play run"></i></div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
