<div class="row">
    <div class="col-md-12">
        <div class="well">
            <button type="button" class="btn btn-primary" ng-click="loadModel()">Model</button>
            <button type="button" class="btn btn-primary" ng-click="editMode()">Edit Mode</button>
            <button type="button" class="btn btn-primary" ng-click="addRuler()">Ruler</button>
            <button type="button" class="btn btn-primary" ng-click="showVProtractor()">Protractor V</button>
            <button type="button" class="btn btn-primary" ng-click="showHProtractor()">Protractor H</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div viewer model="model" class="viewer-section" id="{{id}}" on-change="dateUpdated(branch)" on-start-render="startRender()"
             on-end-render="endRender()">
        </div>
    </div>
    <div class="col-md-3">
        <div console id="console" class="console"></div>
    </div>
</div>
