<div layout="column"  ng-class="{'disabled': readOnly}">
    <div flex class="console-body"><iee-console  control="consoleControl" class="iee-console"></iee-console></div>
    <div flex>
        <md-subheader class="md-no-sticky" id="cmd-list">
            <md-input-container md-no-float class="md-block" style="margin:0px;">
                <input ng-model="searchText" placeholder="Enter cmd name">
            </md-input-container>
        </md-subheader>
        <md-list-item ng-click="runCmd(cmd)" ng-repeat="cmd in commands | querySearch:searchText" ng-show="cmd.visible"
                      ng-class="{'nav-active':currentCmd.id===cmd.id}">
            <md-icon  class="material-icons" >
                {{cmd.iconClazz}}
            </md-icon>
            <p> {{ cmd.name }} </p>
        </md-list-item>
    </div>
</div>
