/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body > .container {
  padding: 60px 15px 0;
}

html, body, .full-height {
    height: 100%;
}

.console-panel {
    height: 15%; /*fall back for IE8, Safari 5.1, Opera Mini and pre-4.4 Android browsers*/
    height: calc(15% - 20px);
    overflow: hidden; /*better to decide how you want to handle this than to let the browser decide*/
}
.cmd-panel {
    height: 85%;
    margin-bottom: 0;
    overflow: auto;
}


.container .text-muted {
  //margin: 20px 0;
}

code {
  font-size: 80%;
}

.jumbotron {
  padding: 0;
}

#content {
  margin-right: auto;
  margin-left: auto;
  padding-top: 61px;
}





.viewer-section {
    position: relative;
    height: 800px;
}





#console {
    height: 400px;
    background: #2B2B2B;
    font-size: 14px;
    font-weight: bold;
    -moz-border-radius: 5px;
    border: 1px solid #DADADA;
    word-wrap: break-word;
}

#console div.jquery-console-welcome {
    color: #DADADA;
    font-family: monospace;
    font-weight: bold;
    padding: 0.1em;
}

#console div.jquery-console-inner {
    width: 100%;
    height: 100%;
    margin: 10px 10px;
    overflow: auto;
    text-align: left;
}

#console div.jquery-console-message-completion {
    color: #5d5d5d;
    font-family: monospace;
    padding: 0.1em;
}

#console div.jquery-console-message-value {
    color: #CC7832;
    font-family: monospace;
    padding: 0.1em;
}

#console div.jquery-console-message-service-error {
    color: #CC7832;
    font-family: monospace;
    padding: 0.1em;
}

#console div.jquery-console-prompt-box {
    color: #DADADA;
    font-family: monospace;
}

#console div.jquery-console-focus span.jquery-console-cursor {
    background: #DADADA;
    color: #eee;
    font-weight: bold;
}

#console div.jquery-console-message-error {
    color: #BC3F3C;
    font-weight: bold;
    font-family: monospace;
    padding: 0.1em;
}

#console div.jquery-console-link a {
    color: #77B767;
    font-family: monospace;
    font-weight: bold;
    padding: 0.1em;
}

#console div.jquery-console-message-success {
    color: #77B767;
    font-family: monospace;
    padding: 0.1em;
}

#console span.jquery-console-prompt-label {
    font-weight: bold;
}


.margin-left-5{
   margin-left:5px;
}

.padding-none{
   padding:0;
}

.console-body{
   padding:0;
}

.command-body{
   padding:0;
   overflow-y:scroll;height:333px;
}

.command-group{
   margin-top: -1px;
   margin-bottom: -1px;
   margin-left: -1px;
}

.command-group .run{
   font-size: 1.4em;
   float: right;
}

.command-group .list-group-item.active > .badge{
    color: green;
}

.list-group-item:last-child {
  border-bottom-width: 0px;
}

.list-group-item .cmd-name {
    padding-left: 10px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    padding: 10px 10px;
    font-weight:normal;
    cursor:pointer;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}


/* --- Tree --- */
.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #555;
}

.tree-node .fa {
}

.nodrop {
    background-color: #f2dede;
}

.tree-node-content {
    margin: 10px;
}
.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}


.tree-node-content.active, .tree-node-content.active:hover{
    z-index: 2;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.tree-node-content:hover {
      background-color: #f5f5f5;
      text-decoration: none;
      border-color: #dce2e8;
}



.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tree-body{
   padding:0;
   overflow-y:auto;height:798px;
}



.col-padding-8{
  padding-left:8px;
  padding-right:8px;
}




