body {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: #c0c0c0;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.console-panel {
    height: 15%; /*fall back for IE8, Safari 5.1, Opera Mini and pre-4.4 Android browsers*/
    height: calc(15% - 20px);
    overflow: hidden; /*better to decide how you want to handle this than to let the browser decide*/
}

.icons-panel-class{
    height: 377px;
}

.side-bar{
    height: 415px;;
}

.md-scroll-mask{
    position: initial;
}



.editor-content-toolbar {
    background: #ffffff !important;
    color: #202020 !important;
    z-index: 3;
}

md-toolbar h3 {
    margin: auto;
    font-weight: 500;
}

md-toolbar{
    font-size: 16px;
}

.mode-select{
   margin:0px !important;
}

.cmd-panel {
    height: 85%;
    margin-bottom: 0;
    overflow: auto;
}

.container .text-muted {
/ / margin: 20 px 0;
}

code {
    font-size: 80%;
}

.jumbotron {
    padding: 0;
}

.disabled{
    pointer-events: none;
    opacity: 0.5;
}


.nav-active {
    background-color: pink;
    color: purple;
}

.nav-active md-icon {
    color: purple;
}

/*#content {*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/

/*}*/

.viewer-section {
    position: relative;
    height: calc(100vh - 64px);
    overflow: hidden;
}

.tree-content-width{
    height: calc(100vh - 64px);
    background-color: #fbf9f9;
}


.console-body {
    padding: 10px;
    overflow-y: auto;
    height: 400px;
    background: #2B2B2B;
    word-wrap: break-word;
    font-size: 14px;
    font-weight: bold;
}

.iee-console div.jquery-console-welcome {
    color: #DADADA;
    font-family: monospace;
    font-weight: bold;
}

.iee-console div.jquery-console-inner {
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    text-align: left;
}

.iee-console div.jquery-console-message-completion {
    color: #5d5d5d;
    font-family: monospace;
    padding: 0.1em;
}

.iee-console div.jquery-console-message-value {
    color: #CC7832;
    font-family: monospace;
    padding: 0.1em;
}

.iee-console div.jquery-console-message-service-error {
    color: #CC7832;
    font-family: monospace;
    padding: 0.1em;
}

.iee-console div.jquery-console-prompt-box {
    color: #DADADA;
    font-family: monospace;
}

.iee-console div.jquery-console-focus span.jquery-console-cursor {
    background: #DADADA;
    color: #eee;
    font-weight: bold;
}

.iee-console div.jquery-console-message-error {
    color: #BC3F3C;
    font-weight: bold;
    font-family: monospace;
    padding: 0.1em;
}

.iee-console div.jquery-console-link a {
    color: #77B767;
    font-family: monospace;
    font-weight: bold;
    padding: 0.1em;
}

.iee-console div.jquery-console-message-success {
    color: #77B767;
    font-family: monospace;
    padding: 0.1em;
}

.iee-console span.jquery-console-prompt-label {
    font-weight: bold;
}

.console-disabled {
    position: absolute;
    top: 42px;
    left: 10px;
    right: 10px;
    bottom: 432px;
    z-index: 1001;
    background-color: white;
    opacity: .7;
    cursor: not-allowed;
}

.margin-left-5 {
    margin-left: 5px;
}

.padding-none {
    padding: 0;
}

.command-body {
    padding: 0;
    overflow-y: auto;
    height: 333px;
}

.command-group {
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: -1px;
}

.command-group .run {
    font-size: 1.4em;
    float: right;
}

.command-group .list-group-item.active > .badge {
    color: green;
}

.list-group-item:last-child {
    border-bottom-width: 0px;
}

.list-group-item .cmd-name {
    padding-left: 10px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-group a.disabled {
    color: #999999;
}

.list-group a.disabled:hover,
.list-group a.disabled:focus {
    color: #999999;
    text-decoration: none;
    cursor: not-allowed;
}

.angular-ui-tree-handle {
    /*background: #f8faff;*/
    /*border: 1px solid #dae2ea;*/
    /*padding: 10px 10px;*/
    font-weight: normal;
    cursor: pointer;
}


.node-arrow-icon{
    transition: all 0.5s;
    margin-right: 0px;
}


.rotate--90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}



.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

/* --- Tree --- */
.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #555;
}

.angular-ui-tree-nodes .angular-ui-tree-nodes {
    padding-left: 52px;
}

.tree-node .fa {
}

.nodrop {
    background-color: #f2dede;
}

.tree-node-content {
    margin: -1px;
}

.collapse-action {
    box-shadow: none;
    outline: inherit;
    margin:0 !important;
    padding:0 !important;
}

.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.tree-node-content.active, .tree-node-content.active:hover {
    z-index: 2;
    /*color: #fff;*/
    /*background-color: #337ab7;*/
    border-color: white;


    background-color: pink;
    color: purple;

}

.tree-node-content:hover {
    background-color: #f5f5f5;
    text-decoration: none;
    border-color: #dce2e8;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tree-body {
    padding: 0;

}

.col-padding-8 {
    padding-left: 8px;
    padding-right: 8px;
}

.pointer {
    cursor: pointer;
}

/*!* Layout Styles *!*/

/*#wrapper {*/
    /*padding-left: 0;*/
    /*-webkit-transition: all 0.5s ease;*/
    /*-moz-transition: all 0.5s ease;*/
    /*-o-transition: all 0.5s ease;*/
    /*transition: all 0.5s ease;*/
/*}*/

/*#wrapper.toggled {*/
    /*padding-left: 300px;*/
    /*height: 100vh;*/
    /*height: 100vh;*/
/*}*/

/*#sidebar-wrapper {*/
    /*z-index: 1000;*/
    /*position: fixed;*/
    /*left: 300px;*/
    /*width: 0;*/
    /*height: 100%;*/
    /*margin-left: -300px;*/
    /*overflow-y: auto;*/
    /*background-color: #fff;*/
    /*box-shadow: 0px 1px 10px #A9A9A9;*/
    /*-webkit-transition: all 0.5s ease;*/
    /*-moz-transition: all 0.5s ease;*/
    /*-o-transition: all 0.5s ease;*/
    /*transition: all 0.5s ease;*/
/*}*/

/*#wrapper.toggled #sidebar-wrapper {*/
    /*width: 300px;*/
/*}*/

/*#page-content-wrapper {*/
    /*width: 100%;*/
    /*position: absolute;*/
    /*padding: 2px;*/
/*}*/

/*#wrapper.toggled #page-content-wrapper {*/
    /*position: absolute;*/
    /*margin-right: -300px;*/
/*}*/

/*@media (min-width: 768px) {*/
    /*#wrapper {*/
        /*padding-left: 300px;*/
        /*height: 100vh;*/
        /*height: 100vh;*/
    /*}*/

    /*#wrapper.toggled {*/
        /*padding-left: 0;*/
    /*}*/

    /*#sidebar-wrapper {*/
        /*width: 300px;*/
    /*}*/

    /*#wrapper.toggled #sidebar-wrapper {*/
        /*width: 0;*/
    /*}*/

    /*#page-content-wrapper {*/
        /*padding: 2px;*/
        /*position: relative;*/
    /*}*/

    /*#wrapper.toggled #page-content-wrapper {*/
        /*position: relative;*/
        /*margin-right: 0;*/
    /*}*/
/*}*/

/*.navbar {*/
    /*position: relative;*/
    /*min-height: 50px;*/
    /*margin-bottom: 0px;*/
    /*border: 1px solid transparent;*/
/*}*/




