<!DOCTYPE html>

<html lang="en" ng-app="ieecloud-editor" style="overflow-y: hidden;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ieecloud Editor</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic'>

    <link rel="stylesheet" href="bower_components/ieecloud-fm/bin/assets/ieecloud-fm-0.0.1.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>

    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">



    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->



<div layout="row" ui-view="main"></div>


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>

<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>

<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/ieecloud-fm/bin/assets/ieecloud-fm-0.0.1.js"></script>
<script src="bower_components/ieecloud-viewer.js/bin/ieecloud-viewer.js-0.0.0.min.js"></script>

<script src="bower_components/lodash/lodash.js"></script>



<!--security-->

<script type="text/ng-template" id="toolbar.tpl.html">





    <div layout="row"  style="padding-top: 8px;   padding-bottom: 8px; padding-right: 320px;">
        <span style="padding-top: 13px;">{{currentUser.username}} </span>
        <div class="md-list-item-text" layout="row">
            <md-button ng-click="logout()" ng-show="isAuthenticated()">
                Log out
            </md-button>
            <md-button ng-click="login()" ng-hide="isAuthenticated()">
                Log in
            </md-button>
        </div>
    </div>




</script>

<script type="text/ng-template" id="form.tpl.html">
    <md-dialog aria-label="Login"  ng-cloak>
        <form name="loginForm">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Sign in</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div class="md-dialog-content">
                    <!--<h2>Sign in</h2>-->
                    <div layout="column">
                        <md-input-container>
                            <label>Email</label>
                            <input type="email" name="email" required ng-model="user.email">
                        </md-input-container>
                        <md-input-container>
                            <label>Password</label>
                            <input type="password" name="password" required ng-model="user.password">
                        </md-input-container>
                    </div>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button ng-click="clearForm()">
                    Clear
                </md-button>
                <span flex></span>
                <md-button ng-click="login()" md-autofocus>
                    Sign in
                </md-button>
                <md-button ng-click="cancelLogin()" style="margin-right:20px;">
                    Cancel
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>




<!--<script src="common/security/authorization.js"></script>-->
<script src="common/security/login/login-form-controller.js"></script>
<script src="common/security/login/toolbar.js"></script>
<script src="common/security/login/login.js"></script>
<script src="common/security/interceptor.js"></script>
<script src="common/security/retryQueue.js"></script>
<script src="common/security/security.js"></script>
<script src="common/security/index.js"></script>


<script src="common/resources/resources.js"></script>
<script src="common/services/retryQueue.js"></script>
<script src="common/services/cmdMapService.js"></script>
<script src="common/services/commonExecutor.js"></script>
<script src="common/filters/filters.js"></script>
<script src="common/utils/utils.js"></script>


<script src="components/console/jquery/jquery.console.js"></script>


<script src="app.js"></script>
<script src="editor/layout.js"></script>
<script src="editor/left/tree-view.js"></script>
<script src="editor/center/editor-view.js"></script>
<script src="editor/center/executors/rulerExecutor.js"></script>
<script src="editor/center/executors/dialogDoubleExecutor.js"></script>
<script src="editor/center/executors/dialogElementExecutor.js"></script>
<script src="editor/center/executors/treeExecutor.js"></script>
<script src="editor/center/executors/bottomFmExecutor.js"></script>
<script src="editor/right/console-view.js"></script>

<script src="components/viewer/viewer-directive.js"></script>
<script src="components/console/console.js"></script>
<script src="components/console/console-directive.js"></script>
</body>
</html>
