<div class="panel panel-default">
    <div class="panel-heading" style="background-color:transparent;">
        <button type="button" class="btn btn-primary btn-sm" ng-click="loadModel()">Model</button>
        <button type="button" class="btn btn-primary btn-sm" ng-click="editMode()">Edit Mode</button>
        <button type="button" class="btn btn-primary btn-sm" ng-click="addRuler()">Ruler</button>
        <button type="button" class="btn btn-primary btn-sm" ng-click="showVProtractor()">Protractor V</button>
        <button type="button" class="btn btn-primary btn-sm" ng-click="showHProtractor()">Protractor H</button>
        <!-- Split button -->
        <div class="btn-group" dropdown>
            <button id="split-button" type="button" class="btn btn-primary btn-sm">Mode</button>
            <button type="button" class="btn btn-primary btn-sm" dropdown-toggle>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="split-button">
                <li role="menuitem" ng-repeat="mode in modes">
                    <a ng-click="setMode(mode.key)" class="pointer" ng-bind="mode.label"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body padding-none">
        <div viewer model="model" class="viewer-section" id="{{id}}" on-tree-load="onTreeLoad(tree)"
             on-select-object="onSelectNode(node, selected)"
             on-start-render="startRender()"
             on-end-render="endRender()">
        </div>
    </div>
</div>