<script type="text/ng-template" id="editor_nodes_renderer.html">

    <div ui-tree-handle="" class="tree-node tree-node-content ng-scope ng-binding angular-ui-tree-handle">
        <!-- ngIf: node.nodes && node.nodes.length > 0 --><a class="btn btn-success btn-xs ng-scope"
                                                             ng-if="node.nodes &amp;&amp; node.nodes.length > 0"
                                                             data-nodrag="" ng-click="toggle(this)"><span
            class="glyphicon glyphicon-chevron-down" ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a><!-- end ngIf: node.nodes && node.nodes.length > 0 -->
        {{node.title}}
    </div>

    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}"
        class="ng-pristine ng-untouched ng-valid ng-scope angular-ui-tree-nodes">
        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'editor_nodes_renderer.html'">
        </li>
    </ol>
</script>





<script type="text/ng-template" id="file-manager-template.html">

    <md-bottom-sheet ng-cloak md-disable-backdrop = "true" flex layout-align="center center" style="padding-left: 0px;padding-right: 0px; padding-top: 0px;">
            <md-content flex>
                <ieecloud-fm on-select-file="selectFile(item)"></ieecloud-fm>
            </md-content>
    </md-bottom-sheet>
</script>


<!--<md-toolbar layout="row" class="md-whiteframe-z1 editor-content-toolbar">-->
    <!--<section layout="row" layout-sm="column" layout-align="center center" layout-wrap ng-show="readOnly">-->
        <!--<md-button class="md-fab md-primary md-mini" ng-click="editMode()">-->
            <!--<md-icon  class="material-icons" >-->
                <!--border_color-->
            <!--</md-icon>-->
        <!--</md-button>-->
    <!--</section>-->


    <!--<section layout="row" layout-sm="column" layout-align="center center" layout-wrap ng-show="!readOnly" style="padding-left: 320px;">-->
        <!--<md-button class="md-raised" ng-click="toggleTree()">Toggle Tree</md-button>-->
        <!--<md-button class="md-raised" ng-click="toggleCmd()">Toggle Right</md-button>-->
        <!--<md-button class="md-raised" ng-click="addRuler()">Ruler</md-button>-->
        <!--<md-button class="md-raised" ng-click="showVProtractor()">Protractor V</md-button>-->
        <!--<md-button class="md-raised" ng-click="showHProtractor()">Protractor H</md-button>-->
        <!--<md-button class="md-raised" ng-click="meshModel()">Mesh</md-button>-->
        <!--<md-button class="md-raised" ng-click="saveModel()">Save</md-button>-->
        <!--<md-select class="mode-select" ng-if="!readOnly" ng-model="currentMode" ng-change="setMode(currentMode)">-->
            <!--<md-option ng-repeat="mode in modes" value="{{mode.key}}">-->
                <!--{{mode.label}}-->
            <!--</md-option>-->
        <!--</md-select>-->

    <!--</section>-->
    <!--<span flex></span>-->
    <!--<login-toolbar></login-toolbar>-->

<!--</md-toolbar>-->


<md-toolbar class="md-menu-toolbar">
    <div layout="row">
        <div ng-show="readOnly">
            <md-button class="md-fab md-primary md-mini" ng-click="editMode()">
                <md-icon  class="material-icons" >
                    border_color
                </md-icon>
            </md-button>
        </div>
        <div ng-show="!readOnly">
            <div layout="row">
            <md-menu-bar style="padding: 10px 10px 0px 340px;">
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        File
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="saveModel()">
                                <md-icon class="material-icons">save</md-icon>
                                Save
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        View
                    </button>
                    <md-menu-content>
                        <md-menu-item class="md-indent">
                            <md-menu>
                                <md-button ng-click="$mdOpenMenu()" style="padding-left: 57px;">Mode</md-button>
                                <md-menu-content width="3">
                                    <md-menu-item ng-repeat="mode in modes">
                                        <md-button ng-click="setMode(mode.key)">
                                            <md-icon class="material-icons">{{settings.mode === mode.key ? "check" : " "}}</md-icon>
                                            {{mode.label}}
                                        </md-button>


                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="toggleTree()">
                                <md-icon class="material-icons">{{settings.showTree ? "check" : " "}}</md-icon>
                                Show tree
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="toggleCmd()">
                                <md-icon class="material-icons">{{settings.showCmd ? "check" : " "}}</md-icon>
                                Show commands
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        Tools
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="toggleRuler()" ng-disabled="!cmdRunning">
                                <md-icon class="material-icons">linear_scale</md-icon>
                                Ruler  <span class="md-alt-text"> {{ 'M-C' | keyboardShortcut }}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="toggleVProtractor()" ng-disabled="!cmdRunning">
                                <md-icon class="material-icons">pie_chart_outlined</md-icon>
                                Protractor V <span class="md-alt-text"> {{ 'M-Z' | keyboardShortcut }}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="toggleHProtractor()" ng-disabled="!cmdRunning">
                                <md-icon class="material-icons">remove_circle_outline</md-icon>
                                Protractor H <span class="md-alt-text"> {{ 'M-X' | keyboardShortcut }}</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        Actions
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="meshModel()">
                                <md-icon class="material-icons">grid_on</md-icon>
                                Mesh
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
            <!--<span flex></span>-->
                <!--<login-toolbar></login-toolbar>-->
            <!--<md-fab-toolbar md-open="true" count="demo.count"-->
                            <!--md-direction="left">-->
                <!--<md-fab-trigger class="align-with-text">-->
                    <!--<md-button aria-label="menu" class="md-fab md-primary md-mini">-->
                        <!--<md-icon  class="material-icons" >-->
                            <!--border_color-->
                        <!--</md-icon>-->
                    <!--</md-button>-->
                <!--</md-fab-trigger>-->
                <!--<md-toolbar>-->
                    <!--<md-fab-actions class="md-toolbar-tools">-->
                        <!--<md-button aria-label="comment" class="md-icon-button">-->
                            <!--<md-icon md-svg-src="img/icons/ic_comment_24px.svg"></md-icon>-->
                        <!--</md-button>-->
                        <!--<md-button aria-label="label" class="md-icon-button">-->
                            <!--<md-icon md-svg-src="img/icons/ic_label_24px.svg"></md-icon>-->
                        <!--</md-button>-->
                        <!--<md-button aria-label="photo" class="md-icon-button">-->
                            <!--<md-icon md-svg-src="img/icons/ic_photo_24px.svg"></md-icon>-->
                        <!--</md-button>-->
                    <!--</md-fab-actions>-->
                <!--</md-toolbar>-->
            <!--</md-fab-toolbar>-->
            </div>
        </div>
        <span flex></span>
        <div>

            <login-toolbar></login-toolbar>
        </div>
    </div>
</md-toolbar>





<md-content flex id="content">
    <div viewer model="model" class="viewer-section" control="viewerControl" id="{{id}}" on-tree-load="onTreeLoad(tree)"
         on-select-object="onSelectNode(node, selected)"
         on-start-render="startRender()"
         on-end-render="endRender()"
         on-select-3d-point="pointSelected(point)">
    </div>
</md-content>
