 <!--Nested node template-->
<script type="text/ng-template" id="nodes_renderer.html">
    <md-list-item ui-tree-handle class="tree-node-content" ng-click="selectNode(node, this)"
         ng-class="{'active' : isInclude(node)}">
        <md-button class="collapse-action md-icon-button" data-nodrag  ng-click="$event.stopPropagation();toggle(this);" ng-if="node.children && node.children.length > 0">
            <md-icon  class="material-icons node-arrow-icon"  ng-class="{'rotate--90': collapsed}">
                arrow_drop_down
            </md-icon>

        </md-button>
        <span style="text-transform: lowercase;">{{node.name}}</span>
    </md-list-item>
    <ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}" ng-show="!collapsed">
        <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'" ng-show="visible(node)">
        </li>
    </ol>
</script>
 <md-content  md-scroll-y class="tree-content-width" ng-class="{'disabled': readOnly}">
     <md-subheader class="md-no-sticky">
         <md-input-container md-no-float class="md-block" style="margin:0px;">
             <input ng-model="query" placeholder="Enter object name">
         </md-input-container>
     </md-subheader>
     <div ui-tree id="tree-root" data-drag-enabled="false">
         <ol ui-tree-nodes="" ng-model="treeData">
             <li ng-repeat="node in treeData" ui-tree-node ng-include="'nodes_renderer.html'"
                 ng-show="visible(node)">
             </li>
         </ol>
     </div>
 </md-content>